body {
  margin: 0;
  padding: 0;
  line-height: 3em;
  letter-spacing: -.3px;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit, sans-serif;
}

.container {
  width: 100%;
}

.headline, .font-test, .text div, .main-btns, .sub-title, .type-btns, footer, .font-type {
  box-sizing: border-box;
  padding: 0 10%;
}
.font-test textarea{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #dedfdf;
  font-size: 16px;
  margin-bottom: 20px;
}
.text div{
  padding-top: 50px;
  padding-bottom: 50px; 
}
.text div.type1{
  background: #eee;
}

.text div.type2{
  background: yellow;
}

.text div.type3{
  background: black;
  color: white;
}

.text div.type4 {
  background: blue;
  color: white;
}

.text div.type5 {
  background: pink;
  color: deeppink;
}
.text div.type6 {
  background: #dedfdf;
  color: #181818;
}

.reg *  {
  font-weight: 400;
}

.bold * {
  font-weight: 700;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.headline{
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title, .sub-title {
  box-sizing: border-box;
  padding: 0 10%;
  margin-bottom: 20px;
}

.title{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dedfdf;
}

.type-btns{
  border-bottom: 1px solid #dedfdf;

}

.sub-title{
  margin-top: 50px;
}

.main-btns, .sub-btns, .type-btns{
  list-style: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-btns{
  border-top: 1px solid #dedfdf;
  border-bottom: 1px solid #dedfdf;
}
.sub-btns{
}
.type-btns{
}
.main-btns li, .sub-btns li, .type-btns li{
  float: left;
  margin-right: 30px;
  line-height: 1.4em;
}
.main-btns button, .sub-btns button, .type-btns button{
  padding: 0;
  border: 0 none;
  line-height: 1.4em;
  font-size: 20px;
  background: none;
  vertical-align: baseline;
  color: #181818;
}
.main-btns button:hover, .sub-btns button:hover, .type-btns button:hover{
  text-decoration: underline;
  color: pink;
}
.main-btns button:focus, .sub-btns button:focus, .type-btns button:focus{
  outline: 1px dotted pink;
}
.main-btns button::before, .sub-btns button::before, .type-btns button::before{
  content: '>';
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
  font-size: 0.7em;
}

.type-btns button b::before{
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}

.type-btns li:nth-of-type(1) button b::before{
  background: #eee;
}
.type-btns li:nth-of-type(2) button b::before{
  background: yellow;
}
.type-btns li:nth-of-type(3) button b::before{
  background: #181818;
}
.type-btns li:nth-of-type(4) button b::before {
  background: blue;
}
.type-btns li:nth-of-type(5) button b::before {
  background: pink;
}
.type-btns li:nth-of-type(6) button b::before {
  background: #dedfdf;
}
.main-btns button.active, .sub-btns button.active, .type-btns button.active{
  text-decoration: underline;
  color: pink;
}
.main-btns button.active::before, .sub-btns button.active::before, .type-btns button.active::before{
  content: '✓';
}

.sub-btns button, .sub-title, .type-btns button{
  text-transform: uppercase;
}
.sub-btns button, .type-btns button{
  font-size: 16px;
}

.sub-title{
  font-size: 30px;
}
.type *{
  margin-bottom: 20px;
}
.font-title{
  font-size: 30px;
  text-transform: uppercase;
}
footer{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}